{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload test</title>
  <style>
    .required
  {
      color: red;
  }
  </style>
</head>
<body>
    <div class="container-fluid px-0 mb-3">
  <img src="" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container  mb-3 py-4">
  <h1 style="position: absolute;
           top: 100px;
           left: 666px;">Contact Now</h1>
  <form method="post" enctype="multipart/form-data" action="/contact">
    {% csrf_token %}
    <div class="form-group">
      <lable for="name" style="font-size: 20px;">Name</label> <span class="required">*</span>
        <input type="text" class="form-control" id="name" name="name" placeholder="Complete name">
    </div>


   

    <div class="form-group">
      <label for="email" style="font-size: 20px;">Email address</label> <span class="required">*</span>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <lable for="phone" style="font-size: 20px;">Contact Number</label> <span class="required">*</span>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter the Mobile Number">
    </div>
    
    <div class="form-group">
      <label for="Address1" style="font-size: 20px;">Address(Permanent)</label> <span class="required">*</span>
      <textarea class="form-control" id="Address1" rows="3" name="Address1"
        placeholder="Enter the Permanent Address"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 

</div>
  
</body>
</html>

{% endblock body %}